<div class="row">
  <div ng-if="!emailSent" class="input-group col-sm-4 col-sm-offset-4">
    <h2>Sign Up</h2>
    <form id="signup-form" nonvalidate name="signup_form">
      <input type="text" class="form-control col-sm-12 bot-10"
        placeholder="Username"
        name="username"
        ng-model="signup.username" required />
      <input type="text" class="form-control col-sm-12 bot-10"
        placeholder="Email"
        name="email"
        ng-model="signup.email" required />
      <input type="password" id="pw1" name="pw1" class="form-control col-sm-12 bot-10"
        placeholder="Password"
        ng-model="signup.pw1"
        ng-minlength=5
        ng-maxlength=20 required />
      <input type="password" id="pw2" name="pw2" class="form-control col-sm-12 bot-10"
        placeholder="Confirm Password"
        ng-model="signup.pw2"
        ng-minlength=5
        ng-maxlength=20
        pw-check="pw1" required />
      <button type="submit" id="btn-done" class="btn btn-default pull-right bot-10" ng-click="createAccount()" ng-disabled="signup_form.$invalid">
        Continue
      </button>
      <div id="pwcheck-sym" class="pull-right" 
        ng-hide="signup_form.$pristine || signup_form.pw1.$error.required">
        <span id="pw-sym-match" ng-show="!signup_form.pw2.$error.pwmatch">
          <span class="glyphicon glyphicon-ok"></span>
          Passwords match!
        </span>
        <span id="pw-sym-mismatch" ng-show="signup_form.pw2.$error.pwmatch">
          <span class="glyphicon glyphicon-remove"></span>
          Passwords do not match
        </span>
      </div>
    </form>
  </div>

  <div ng-if="emailSent">A confirmation email has been sent to your email at {{dest}}. Follow the link on the email to complete your registration.</div>
</div>
